<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Ana Menü</li>
            <li><a href="@Url.Action("Index","Home")"><i class="fa fa-map-pin"></i> <span>Ziyaretler</span></a></li>
            <li><a href="@Url.Action("Create","Home")"><i class="fa fa-calendar-plus-o"></i> <span>Yeni Ziyaret Oluştur</span></a></li>
        </ul>
    </section>
</aside>